# The port number on which the server will listen for incoming requests.
HTTP_PORT=

# TCP_PORT specifies the port number for the TCP connection in the authentication microservice.
TCP_PORT=

# TCP_HOST specifies the host address for the TCP connection.
# The value '0.0.0.0' indicates that the server should listen on all available network interfaces.
TCP_HOST=

# The URI for connecting to the MongoDB database.
MONGODB_URI=

# The secret key used for signing JSON Web Tokens (JWTs).
JWT_SECRET=

# The expiration time (in seconds) for JWTs.
JWT_EXPIRATION_TIME=

# The host name for the authentication service.
AUTH_HOST=

# The port number on which the auth server is running.
AUTH_PORT=

# The host name for the payments service.
PAYMENTS_HOST=

# The port number on which the payments server is running.
PAYMENTS_PORT=